/*--- General ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: hsl(243, 87%, 12%);
    --color-secondary: hsl(238, 22%, 44%);
    --color-accent: hsl(170, 45%, 43%);
    --color-grayish-blue: hsl(240, 75%, 98%);
    --color-light-gray: hsl(0, 0%, 75%);
    --white: hsl(0, 0%, 100%);
    --dark-blue: #07043B;
    --blue: #2F65F8;
    --grayish-blue: #F8F8FE;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 0.875rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}


/*--- Navbar ---*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999
}

.nav-logo {
    width: 100px;
}

.nav-logo img {
    width: 80px;
    height: 24px;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    font-size: 0.75rem;
}

/*--- Hero ---*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10rem 1.5rem 0 1.5rem;
}

.hero-img {
    width: 100%;
    margin-bottom: 2.5rem;
}

.ilustration-img {
    width: 100%;
    height: 100%;
}

.hero-content {
    margin-bottom: 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

.hero-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.hero-text {
    color: var(--dark-blue);
    font-size: 0.875rem;
    line-height: 1.5;
}

.hero-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-input {
    padding: 0.8rem 1.3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    font-size: 0.875rem;
    width: 304px;
}


.hero-btn {
    padding: 0.8rem 1.3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 0.875rem;
    cursor: pointer;
    font-weight: 700;
    width: 304px;
}

/*--- Features ---*/

.features {
    padding-top: 5.6rem;
}

.features-content {
    background-color: var(--grayish-blue);
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-curved {
    background-image: url(./images/bg-curve-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100px;
}

.features-img {
    width: 100%;
    margin-bottom: 5.4rem;
}

.features-title {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--dark-blue);
    margin-bottom: 1.5rem;
}

.features-text {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

#features-link {
    font-size: 0.75rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.features-link a {
    color: var(--color-accent);
    text-decoration: underline;
}

.features-link img {
    width: 12px;
    height: 12px;
}

.features-texts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-quote-container {
    width: 100%;
    height: 170px;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--grayish-blue);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.features-quote-container img {
    width: 14px;
    height: 14px;
    margin-bottom: 0.5rem;
}

.features-quote {
    font-size: 0.62rem;
    line-height: 1.5;
    color: var(--dark-blue);
    margin-bottom: 0.75rem;
}

.features-customer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#features-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.features-customer-name {
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.features-customer-role {
    font-size: 0.37rem;
    color: var(--dark-blue);
}

/*--- Early Access ---*/


.early-access-content {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.37rem 3rem 4.43rem 3rem;
}

.early-access-title {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 1rem;
    text-align: center;
}

.early-access-text {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--white);
    margin-bottom: 1.5rem;
}

.early-access-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.early-access-input {
    padding: 0.688rem 0.5rem;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 0.625rem;
    width: 240px;
    height: 32px;
    border-radius: 0.25rem;
}

.early-access-btn {
    padding: 0.688rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 0.625rem;
    cursor: pointer;
    font-weight: 700;
    width: 240px;
    height: 32px;
}

/*--- Footer ---*/

.footer {
    background-color: var(--color-primary);
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;

}

.footer-logo {
    width: 105px;
}

.footer-logo img {
    filter: brightness(0) invert(1);
}

.footer-icons {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.footer-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-icon img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: 24px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.footer-text {
    color: var(--white);
    font-size: 1rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.footer-links a {
    color: var(--white);
    font-size: 1rem;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer-icon img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: 24px;
    border-radius: 0.5rem;
}

/*--- Media Queries ---*/

@media screen and (min-width: 1024px) {

    .nav {
        padding: 4rem 5rem;
    }
    
    .nav-logo img {
        width: 166px;
        height: 49px;
    }

    .nav-links {
        font-size: 1rem;
        gap: 3.625rem;
    }

    .hero {
        flex-direction: row-reverse;
        text-align: left;
        justify-content: space-between;
        padding: 12rem 5rem 0 5rem;
    }

    .hero-img {
        width: 50%;
    }

    .ilustration-img {
        width: 100%;
        height: 100%;
    }

    .hero-content {
        width: 50%;
        text-align: left;
        margin-bottom: 0;
        align-items: flex-start;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-text {
        font-size: 1rem;
    }

    .hero-form {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }

    .hero-input {
        width: 320px;
    }

    .hero-btn {
        width: 200px;
    }

    /*--- Features ---*/

    .bg-curved {
        background-image: url(./images/bg-curve-desktop.svg);
        height: 200px;
    }

    .features-content {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 5rem;
    }

    .features-title {
        font-size: 2.5rem;
        text-align: left;
    }

    .features-text {
        text-align: left;
        font-size: 1rem;
        line-height: 1.5;
    }

    .features-img {
        width: 50%;
    }

    .features-texts-container {
        align-items: flex-start;
        justify-content: flex-start;
        width: 50%;
    }

    .features-quote-container {
        width: 356px;
        height: 215px;
        padding: 2.5rem 2.12rem;
    }

    .features-quote {
        font-size: 0.813rem;
        line-height: 1.5;
    }

    #features-avatar {
        width: 32px;
        height: 32px;
    }

    /*--- Early Access ---*/

    .early-access-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 6.25rem 5rem;
    }

    .early-access-title {
        font-size: 2rem;
        text-align: left;
    }

    .early-access-text {
        font-size: 1rem;
        text-align: left;
    }

    .early-access-form {
        align-items: flex-start;
    }

    .early-access-texts-container {
        width: 533px;
        height: 137px;
    }

    .early-access-input {
        width: 480px;
        height: 48px;
    }

    .early-access-btn {
        width: 200px;
        height: 48px;
    }

    /*--- Footer ---*/

    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5.75rem 5rem;
        gap: 10rem;
    }

    .footer-logo {
        width: 135px;
        height: 39px;
    }

    .footer-icons {
        display: flex;
        align-items: flex-start;
    }

    .footer-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
 } 
